@media (max-width: 700px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .btn {
    margin-top: 0.5rem;
    width: 19.8rem;
    margin-right: 0.5rem;
    /* height: 2rem; */
  }
  .btns {
    display: flex;
    flex-direction: row;
  }
  .item img {
    height: 100%;
    width: 60%;
  }
}

@media screen and (min-width: 100rem) {
  .description {
    width: 50%;
  }
}
